@import "compass/typography/lists/horizontal-list";



body {
  background: url(../images/bkg.png);
}

.reveal {
  h2 {
    background: url(../images/bkg-highlight.png);
    padding: 30px 0 27px 0;
    color: #FFF;
  }
  pre,
  pre code {
    background: url(../images/bkg-dark.png);
  }
  img.simple {
    border: none;
    background: none;
    margin-bottom: 50px;
    box-shadow: none;
  }
  ul.rest_buttons {
    display: block;
    margin: 15px 0;
    text-align: justify;
    list-style-type: none;
    line-height: 0;
    li {
      display: inline-block;
      width: 30%;
      text-align: center;
      padding: 15px 0;
      border-radius: 8px;
      line-height: 1em;
      position: relative;

      &:nth-child(1) {
        background: rgba(197,99,194,0.5);
        box-shadow: 0 0 30px rgba(197,99,194,0.45);
      }
      &:nth-child(2) {
        background: rgba(255,255,0,0.5);
        box-shadow: 0 0 30px rgba(255,255,0,0.45);
      }
      &:nth-child(3) {
        background: rgba(0,255,255,0.5);
        box-shadow: 0 0 30px rgba(0,255,255,0.45);
      }
    }
    .last {
      width: 100%;
      height: 1px;
      overflow: hidden;
      border: none;
      padding: 0;
    }
  }
  ul.rest_features li {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        background: rgba(145,206,0,0.5);
        box-shadow: 0 0 30px rgba(145,206,0,0.45);
        &.off {
          background: rgba(0,0,0,0.5);
          box-shadow: 0 0 30px rgba(0,0,0,0.45);
          color: rgba(255,255,255,0.75);
        }
      }

      .symbol {
        position: absolute;
        top: 14px;
        left: 15px;
        color: #91ce00;
      }
      &.off .symbol {
        top: 10px;
        color: #ff0000;
      }
  }
}
