/* line 5, ../sass/styles.scss */
body {
  background: url(../images/bkg.png);
}

/* line 10, ../sass/styles.scss */
.reveal h2 {
  background: url(../images/bkg-highlight.png);
  padding: 30px 0 27px 0;
  color: #FFF;
}
/* line 15, ../sass/styles.scss */
.reveal pre,
.reveal pre code {
  background: url(../images/bkg-dark.png);
}
/* line 18, ../sass/styles.scss */
.reveal img.simple {
  border: none;
  background: none;
  margin-bottom: 50px;
  box-shadow: none;
}
/* line 24, ../sass/styles.scss */
.reveal ul.rest_buttons {
  display: block;
  margin: 15px 0;
  text-align: justify;
  list-style-type: none;
  line-height: 0;
}
/* line 30, ../sass/styles.scss */
.reveal ul.rest_buttons li {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
  line-height: 1em;
  position: relative;
}
/* line 39, ../sass/styles.scss */
.reveal ul.rest_buttons li:nth-child(1) {
  background: rgba(197, 99, 194, 0.5);
  box-shadow: 0 0 30px rgba(197, 99, 194, 0.45);
}
/* line 43, ../sass/styles.scss */
.reveal ul.rest_buttons li:nth-child(2) {
  background: rgba(255, 255, 0, 0.5);
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.45);
}
/* line 47, ../sass/styles.scss */
.reveal ul.rest_buttons li:nth-child(3) {
  background: rgba(0, 255, 255, 0.5);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.45);
}
/* line 52, ../sass/styles.scss */
.reveal ul.rest_buttons .last {
  width: 100%;
  height: 1px;
  overflow: hidden;
  border: none;
  padding: 0;
}
/* line 63, ../sass/styles.scss */
.reveal ul.rest_features li:nth-child(1), .reveal ul.rest_features li:nth-child(2), .reveal ul.rest_features li:nth-child(3) {
  background: rgba(145, 206, 0, 0.5);
  box-shadow: 0 0 30px rgba(145, 206, 0, 0.45);
}
/* line 66, ../sass/styles.scss */
.reveal ul.rest_features li:nth-child(1).off, .reveal ul.rest_features li:nth-child(2).off, .reveal ul.rest_features li:nth-child(3).off {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
  color: rgba(255, 255, 255, 0.75);
}
/* line 73, ../sass/styles.scss */
.reveal ul.rest_features li .symbol {
  position: absolute;
  top: 14px;
  left: 15px;
  color: #91ce00;
}
/* line 79, ../sass/styles.scss */
.reveal ul.rest_features li.off .symbol {
  top: 10px;
  color: #ff0000;
}
